<div class="row mt-2">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <%- include('./../shared/flash-message', { messages: messages }) %>
        <h4 class="header-title">Payment Management</h4>
        <a href="/payments/new" class="btn btn-primary mb-2">Create a payment</a>
        <div class="table-responsive-sm">
          <table class="table table-centered mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Method</th>
                <th>User</th>
                <th>Staff</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% payments.forEach(function(payment){ %>
              <tr>
                <td><%= payment.id %></td>
                <td><%= payment.comment %></td>
                <td><%= moment(payment.date).format('YYYY-MM-DD') %></td>
                <td><%= payment.amount %></td>
                <td><%= payment.method %></td>
                <td><%= payment.user.first_name %> <%= payment.user.last_name %></td>
                <td><%= payment.staff.first_name %> <%= payment.staff.last_name %></td>
                <td>
                  <a href="/payments/<%= payment.id %>/print" target="_blank" class="btn btn-primary">Print</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <%- include('./../shared/pagination', { resource, resourcePagy }) %>
        </div> <!-- end table-responsive-->

      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>
